
body {
   font-family: "Belleza", sans-serif; 
   background-color:#264428;

   }


#logo {
   width: 200px;
   height: auto;
   
}

.header{
   display: flex; 
   align-items: center;
   position: relative;
   margin-top: 60px;

}

.header span{
  color: #fbeaed;
  font-size: 100px;
  font-family: "Belleza", sans-serif;
  text-align: center;
 position: absolute;
   left: 50%;
   transform: translate(-50%, -50%); /* Compensate for the container's width move it half of its width to ensure perfect centering */

   margin-top: 85px;

}

.Exec {
   background-color: #fbeaed;
   color:#264428;
   font-size: 60px;
   padding-left: 19px;
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 50px;
}

.Exec p{
   padding-top: 8px;
   padding-bottom: 8px;
   font-size: 50px;
   text-align: left;

}


.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 1em; /* Space between items */
  padding: 0 35px; /* Horizontal padding */
}


.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em; /* Space between items */
  padding: 0 35px; /* Horizontal padding */
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section img {
  width: 100%; /* Set the width of the image */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 10px; /* Space between the image and text */
}

.wrapper2 img{
  width: 150%;
}



.Text {
  background-color: #fbeaed;
  color: #264428;
}

.name {
  font-size: 50px;
  margin: 10px 0 5px; /* Adjust margin to ensure proper spacing */
}

.name2 {
  font-size: 50px;
  margin: 10px 40px 5px 40px;
}

p {
  font-size: 25px;
  margin: 0;
  padding: 10px;
}

/* STYLE NAV BAR */
/* Centering the tabs container */
.tabs-container {
  display: flex;
  justify-content: center; /* Center horizontally */
 /* Optional: Add padding to ensure some space around */
}

/* Styling the tabs */
.tabs {
  display: flex; /* Arrange tabs in a row */
  gap: 15px; /* Optional: Add space between tabs */
   text-align: center;
    display: flex;                       /* Use Flexbox for layout */
    align-items: center;                 /* Align items vertically centered */
}

.tabs a {
  color: #fbeaed;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 30px; /* Adjust font size if needed */
}

.tabs a:hover {
  background-color: #f5f1ed;
  color: #264428;
}
